<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>Logistic Database Index</h1>
    <hr>
    <a href="warehouse">Manage Warehouses(Add/Delete/Update)</a>
    <br>
    <a href="product">Manage Products(Add/Delete/Update)</a>
    <br>
    <a href="driver">Manage Drivers(Add/Delete/Update)</a>
    <br>
    <a href="customer">Manage Customers(Add/Delete/Update)</a>
    <br>
    <a href="order">Manage Orders(Add/Delete/Update)</a>
</body>
</html>